# Dependências
node_modules/
.pnp
.pnp.js

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.target/
src-tauri/target/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Testes
coverage/

# Tauri
src-tauri/target/